:root {
  --dark: #232b32;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark);
  color: #FFF;
  font-family: 'Alata', sans-serif;
}

.keyboard {
  max-width: 1050px;
  margin: 160px auto;
}

.keyboard-line {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.bigkey {
  flex: 1;
  white-space: nowrap;
}

.keyboard-line span {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 2px solid var(--white);
  padding: 10px;
  height: 52px;
  min-width: 52px;
  border-radius: 8px;
  font-size: 1.2em;
  transition: 0.05s ease-in-out;
}

.keyboard-line span.active,
.keyboard-line span:hover {
  color: var(--dark);
  background: var(--white);
}

.key-info {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#keycode {
  font-size: 4em;
}

.github {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.github a {
  color: var(--white);
  font-size: 1.25em;
}